body{
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;  
    background-size: cover;

    -webkit-background-border: border-cover;
    -moz-background-border: border-cover;
    -o-background-border: border-cover;
    background-border: background-cover; 

	background-color: #808080;
	font-family: 'Pangolin', cursive;

	display: flex;
}

button{
    background-color: #808080;
}

/* My Jumbotron */
.jumbotron{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}

/* Teams CSS */
#team-page-content{
	margin-top: 5%;
}

/* Enquiry CSS */
.line-margin{
    margin-top: 2%;
}

/* Carousel CSS */
.center-image{
    margin-left: 25%;
}

/* Navbar CSS */
nav{
	font-size: 1.4em;
}

/* Home Page */
#subscribeForm{
    text-align: center;
    border-radius: 5px;
    border: .02em solid #808080;
    margin-top: 50%;
}

.likes{
    text-align: center;
}

#sub-button{
    margin-left: 25%;
}