<div>
	<nav id="navbar" class="navbar navbar-inverse bg-primary ">
		<div class="navbar-header">
			<a class="navbar-brand" href=".">
				Castlebar Hockey Club
			</a>
			<!-- The data-toggle collapsed value controls the behaviour of the menu button
			We give the button a target so we know which list we are wanting to collapse. 
			this is done with a data-target attribute - YOU MUST REMEMBER to give the <ul> an id of this target
			 -->
			<button type="button" class="navbar-toggle collapsed" id="collapse-btn" data-target="#menu-list" data-toggle="collapse" ng-click="pushBody()">
				<span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			</button>
		</div>
		<ul class="nav navbar-nav collapse navbar-collapse navbar-right" id="menu-list">
			<li>
				<a href=".">
					Home
				</a>
			</li>
			<li class="dropdown">
		    	<a href="." class="dropdown-toggle" data-toggle="dropdown">
		    		Teams
		    		<span class="caret"></span>
		    	</a>
		      	<ul class="dropdown-menu">
		        	<li>
		        		<a href="teams/mens/first">
		        			Mens First
		        		</a>
		        	</li>
		        	<li>
		        		<a href="teams/mens/second">
		        			Mens Second
		        		</a>
		        	</li>
		        	<li>
		        		<a href="teams/ladies/first">
		        			Ladies First
		        		</a>
		        	</li>     
		        	<li>
		        		<a href="teams/ladies/second">
		        			Ladies Second
		        		</a>
		        	</li>      
		        	<li>
		        		<a href="teams/juniors">
		        			Juniors
		        		</a>
		        	</li>                    
		      	</ul>
		    </li>
			<li>
		    	<a href="media/images">
		    		Media
		    	</a>
		    </li>
		    <li>
				<a href="enquiry">
					Enquires
				</a>
			</li>
			<li>
				<a href="." data-toggle="modal" data-target="#login-modal">
					{{ showUsername }}
				</a>
			</li>
		</ul>
	</nav>
</div>

<!-- Model -->
<div class="container">
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header background">
                    <h4 class="modal-title">
                        Members Login
                    </h4>
                </div>
                <div class="modal-body">
                	<form name="loginForm" novalidate>
	                	<div class="form-group row line-margin">
							<div class="form-group col-md-4">
								<label for="username">
									Username/Email:
								</label>
							</div>
							<div class="form-group col-md-8">
								<input class="form-control" type="text" name="username" data-ng-model="user.username" required>
								<p data-ng-show="loginForm.username.$pristine" class="help-block">
			                        Your username/email is required
			                    </p>
							</div>
						</div>
						<div class="form-group row line-margin">
							<div class="form-group col-md-4">
								<label for="user.password">
									Password:
								</label>
							</div>
							<div class="form-group col-md-8">
								<input class="form-control" type="password" name="password" data-ng-model="user.password" required>
								<p data-ng-show="loginForm.password.$pristine" class="help-block">
			                        Your password is required
			                    </p>
							</div>
						</div>
					</form>
                </div>        
                <div class="modal-footer background">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" ng-click="userLogin()" class="btn btn-primary" data-ng-disabled="loginForm.$invalid" data-dismiss="modal">
                        Login
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

