<div class="jumbotron">
	<div class="">
		<h1>
			Enquiry
		</h1>
	</div>
	<div class="row">
		<form name="registrationForm" data-ng-submit="submitForm()" novalidate>
			<div class="col-md-6">
				<div class="row line-margin">
					<div class="col-md-4">
						<label for="first-name">
							Name:
						</label>
					</div>
					<div class="col-md-8">
						<input class="form-control" type="text" id="name" name="name" data-ng-model="user.name">
					</div>
				</div>
				<div class="row line-margin">
					<div class="col-md-4">
						<label for="date-of-birth">
							Date of Birth:
						</label>
					</div>
					<div class="col-md-8">
						<input class="form-control" type="date" id="date-of-birth" name="date-of-birth" >
					</div>
				</div>
				<div class="row line-margin">
					<div class="col-md-4">
						<label for="email">
							Email:
						</label>
					</div>
					<div class="col-md-8">
						<input class="form-control" type="text" id="email" name="email" data-ng-model="user.email">
					</div>
				</div>
				<div class="row line-margin">
					<div class="col-md-4">
						<label for="membership">
							Membership:
						</label>
					</div>
					<div class="col-md-8">
						<select class="form-control" name="memberhsip" id="membership" data-ng-model="user.membership">
							<option value="Senior">Senior</option>
						    <option value="Junior">Junior</option>
					    </select>
					</div>
				</div>
				<div class="row line-margin">
					<div class="col-md-4">
						<label for="gender">
							Gender
						</label>
					</div>
					<div class="col-md-8">
						<input class="form-control" type="text" id="gender" name="gender" data-ng-model="user.gender">
					</div>
				</div>
				<button class="btn btn-primary line-margin" type="submit" data-ng-disabled="registrationForm.$invalid">
					Enquire
				</button>
			</div>
		</form>
		<div class="col-md-6">
			<p>
				For bookings, events, somewhere to base your team or any other enquiry, please get in touch. 
			</p>
			<p>
				Castlebar Hockey and Social Club
			</p>
			<p>
				Castlebar
				<br>
				07533 676973
				<br>
				Clubhouse@slazengersportsclub.co.uk
			</p>
		</div>
	</div>
</div>