<div class="jumbotron">
	<div>
		<h1>
			Enquiry
		</h1>
	</div>
	<div class="row">
		<form name="registrationForm" data-ng-submit="submitForm(user.dateOfBirth)" novalidate>
			<div class="col-md-6">
				<div class="form-group row line-margin">
					<div class="col-md-4">
						<label for="name">
							Name:
						</label>
					</div>
					<div class="col-md-8"><!-- 
						<p data-ng-show="registrationForm.name.$pristine" class="help-block">
							We would like to know all members of the club on a first name basis.
						</p> -->
						<input class="form-control" type="text" name="name" data-ng-model="user.name" required>
					</div>
				</div>
				<div class="form-group row line-margin">
					<div class="col-md-4">
						<label for="dateOfBirth">
							Date of Birth:
						</label>
					</div>
					<div class="col-md-8" ng-controller="EnquiryController" ng-cloak>
						<md-content >
				      		<md-datepicker ng-model="user.dateOfBirth" ng-current-view="year" md-placeholder="Enter Date" md-current-view="year" md-open-on-focus>
				      			
				      		</md-datepicker>
						</md-content>
					</div>				
				</div>
				<div class="form-group row line-margin">
					<div class="col-md-4">
						<label for="email">
							Email:
						</label>
					</div>
					<div class="col-md-8">
						<input class="form-control" type="text" name="email" data-ng-model="user.email" required>
						<!-- <p data-ng-show="registrationForm.email.$pristine" class="help-block">
							Your email address would be helpful for us to contact you.
						</p> -->
					</div>
				</div>
				<div class="form-group row line-margin">
					<div class="col-md-4">
						<label for="membership">
							Membership:
						</label>
					</div>
					<div class="col-md-8">
						<select  class="form-control" name="membership" data-ng-model="user.membership" required>
							<option value="Senior" selected>
								Senior
							</option>
						    <option value="Junior">
						    	Junior
						    </option>
					    </select>
						<!-- <p data-ng-show="registrationForm.membership.$pristine" class="help-block">
					    	What type of membership are you interested in?
					    </p> -->
					</div>
				</div>
				<div class="form-group row line-margin">
					<div class="col-md-4">
						<label  for="gender">
							Gender
						</label>
					</div>
					<div class="col-md-8">
						<select  class="form-control" type="text" name="gender" data-ng-model="user.gender" required>
							<option value="Male" selected>
								Male
							</option>
							<option value="Female">
								Female
							</option>
							<option value="Other">
								Other
							</option>
						</select>
						<!-- <p data-ng-show="registrationForm.gender.$pristine" class="help-block">
							Please tell us your gender.
						</p> -->
					</div>
				</div>
				<p style="font-size: 10px;">
					* All fields are required to submit this form.
				</p>
				<button class="btn btn-primary line-margin" type="submit" data-ng-disabled="registrationForm.$invalid">
					Enquire
				</button>
			</div>
		</form>
		<div class="col-md-6 line-margin">
			<p>
				For bookings, events, somewhere to base your team or any other enquiry, please get in touch. 
			</p>
			<p>
				Castlebar Hockey and Social Club
				<br>
				Lannagh Road, 
				<br>
				Castlebar, 
				<br>
				County Mayo
			</p>
			<p>
				<br>
				01230 456789
				<br>
				clubhouse@donotemail.com
			</p>
		</div>
	</div>
</div>